body,
div,
h1,
h2,
ul,
li,
span,
strong,
input,
button {
	margin:0;
	padding:0;
}

body {
  font-size: 18px;  
  font-family: Arial
}

#root {
  width: 610px;
  height:500px;
  padding:10px;
}

h1 {
	margin-left:100px;
	font-size:1.8em;
	font-style:italic;
	margin-bottom:15px;
}

h2 {
	font-size:1.2em;
	margin-top:15px;
	margin-bottom:30px;
	text-align:center;
}

h1,h2 {
	color:#2aa0bd;
}
ul {
	list-style-type:none;
}
.chat-container {
	float:left;
	margin-left:10px;
	width:250px;
	border:1px solid #cccccc;
	border-radius:5px;
	height:450px;
	position:relative;
	background: rgb(74,232,113); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(74,232,113,1) 0%, rgba(241,255,188,1) 80%, rgba(241,255,188,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,232,113,1)), color-stop(80%,rgba(241,255,188,1)), color-stop(100%,rgba(241,255,188,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 80%,rgba(241,255,188,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 80%,rgba(241,255,188,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 80%,rgba(241,255,188,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 80%,rgba(241,255,188,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ae871', endColorstr='#f1ffbc',GradientType=0 ); /* IE6-9 */
}

.messages {
	margin:0 10px;
	overflow-y:scroll;
	height:340px;
}
.messages ul li {
	border-bottom:1px solid black;
}
.messages ul li:last-of-type {
	border:none;
}
.sent-message {
	position:absolute;
	bottom:0;
	left:5px;
}

.me, .other {
	color:#2aa0bd;
	font-size:0.9em;
}
.me {
	text-align:left;
}
.other {
	text-align:right;
}
strong {
	font-weight:normal;
	display:block;
	font-style:italic;
	font-size:0.85em;
}
input{
	background:#f1ffbc;
	border:1px solid #cccccc;
	height:30px;
	width:175px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	text-indent:10px;
	font-size:1.1em;
	color:#2aa0bd;
}

button {
	background: #f1ffbc;
	border:1px solid #cccccc;
	height:30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	width:60px;
	font-size:1em;
	color:#2aa0bd;
}

button:hover {
	background: rgb(74,232,113); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(74,232,113,1) 0%, rgba(241,255,188,1) 60%, rgba(241,255,188,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,232,113,1)), color-stop(60%,rgba(241,255,188,1)), color-stop(100%,rgba(241,255,188,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 60%,rgba(241,255,188,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 60%,rgba(241,255,188,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 60%,rgba(241,255,188,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(74,232,113,1) 0%,rgba(241,255,188,1) 60%,rgba(241,255,188,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ae871', endColorstr='#f1ffbc',GradientType=0 ); /* IE6-9 */
}