body,
div,
hgroup,
h3,
h2,
p,
a,
span {
	margin:0;
	padding:0;
}

body {
	font-size:16px;
	font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

#wrapper {
	width:960px;
	position:relative;
	margin-left:20px;
}

#wrapper > div {
	display:inline-block;
	border:2px solid #d3d7da;
	margin-top:20px;
	float:left;
	padding:3px;
}

#wrapper > div:nth-of-type(odd) {
	width:140px;
	height:250px;
	border-left:none;
	border-right:none;
}

#wrapper > div:first-of-type  {
	border-left:2px solid #d3d7da;
}

#wrapper > div:nth-of-type(even) {
	width:140px;
	height:280px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,242,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,242,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,242,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,242,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,242,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,242,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f2f3',GradientType=0 ); /* IE6-9 */
}

#wrapper > div:nth-of-type(1)  hgroup {
	background:url('imgs/install.png') no-repeat;
	background-position:10px -5px;
}
#wrapper > div:nth-of-type(2)  hgroup {
	background:url('imgs/tuneUp.png') no-repeat;
	background-position:10px -5px;
}
#wrapper > div:nth-of-type(3)  hgroup {
	background:url('imgs/manage.png') no-repeat;
	background-position:10px -5px;
}
#wrapper > div:nth-of-type(4)  hgroup {
	height:40px;
	background:url('imgs/openSource.png') no-repeat;
	background-position:10px -5px;
}
#wrapper > div:nth-of-type(4)  hgroup h2{
	padding-top:15px;
}
#wrapper > div:nth-of-type(5)  hgroup {
	height:40px;
	background:url('imgs/twitter.png') no-repeat;
	background-position:10px -5px;
}
#wrapper > div:nth-of-type(5)  hgroup h2 {
	padding-top:15px;
}
#wrapper > div:nth-of-type(6)  hgroup {
	height:40px;
	background:url('imgs/about.png') no-repeat;
	background-position:10px -5px;
}
#wrapper > div:nth-of-type(6)  hgroup h2 {
	padding-top:12px;
}

hgroup {
	margin-top:10px;
}

h3, h2 {
	font-size:1em;
	margin-left:50px;
}

a {
	text-decoration:none;
	color:#d02d2f;
	font-size:1.05em;
}

p {
	margin-top:10px;
	margin-right:10px;
	margin-bottom:5px;
}

.yellowBox {
	border:1px solid yellow;
	background:#ffffdd;
}

#wrapper div div span {
	text-transform:uppercase;
}