body,
div,
header,
h1,
nav,
ul,
li,
a,
article {
	margin:0;
	padding:0;
}

html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}
ul {
	list-style-type:none;
}
header {
	padding:15px;
	margin-top:20px;
	background:url('images/header-bg.png') repeat;
}
header ul {
	margin-left:710px;
	margin-top:-10px;
	font-size:14px;
}
header ul li {
	display:inline-block;
	margin-top:10px;
	margin-left:10px;
	color:#575e5b;
}
header h1 {
	font-size:16px;
	text-transform:uppercase;
	display:inline-block;
	float:left;
	color:#575e5b;
}
div#searchBar {
	padding:10px 5px;
	background:black;
	color:#b9c6b9;
}
#searchBar a {
	color:#b9c6b9;
	text-decoration:none;
	font-size:14px;
}
div#searchBar > div#archives {
	float:left;
}
div#searchBar > div#search {
	margin-left:895px;
}
div#content > h1 {
	font-size:24px;
	margin:20px 0;
	color:#575e5b;
}
div#content article p {
	font-size:14px;
	color:#575e5b;
}
.clear {
	clear: both;
}
