body,
div,
ul,
li,
a,
h3,
p,
span {
	margin:0;
	padding:0;
}
body {
	font-family:'Courier New', Courier, 'Nimbus Mono L', monospace;
	font-size:16px;
}
#wrapper {
	width:960px;
}

ul {
	list-style-type:none;
}
.menu {
	margin-left:20px;
	margin-top:20px;
}
.menu > li {
	border:1px solid black;
	padding:10px 20px;
	float:left;
	margin-left:10px;
	border-radius:10px;
	background: rgb(37,220,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(37,220,242,1) 0%, rgba(121,148,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,220,242,1)), color-stop(100%,rgba(121,148,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(37,220,242,1) 0%,rgba(121,148,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(37,220,242,1) 0%,rgba(121,148,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(37,220,242,1) 0%,rgba(121,148,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(37,220,242,1) 0%,rgba(121,148,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25dcf2', endColorstr='#7994e2',GradientType=0 ); /* IE6-9 */
	position:relative;
}

.menu > li a {
	text-decoration:none;
	color:#0000fd;
}

.menu > li:hover {
	padding:15px 40px;
}

.menu > li:hover div.content {
	display:block;
}
div.content {
	display:none;
	position:absolute;
	width:300px;
	border:1px solid black;
	border-radius:10px;
	z-index:10;
	top:35px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(160,216,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(160,216,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(160,216,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

p {
	padding:20px 15px;
}

h3 {
	padding-top:20px;
	padding-left:15px;
	text-decoration:underline;
}

div.content > ul {
	list-style-type:square;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:10px;
}