﻿body {
    font-size:12px;
    font-family:Arial;
}

#main {
    width:790px;
    border:1px solid black;
    background-color:#f1f1f1;
    position:relative;
    height:578px;
}

nav {
    float:left;
    width:142px;
    font-family:Arial;
    font-size:0.98em;
}

section {
    background-color:white;
    border:1px solid #808080;
    margin-left:135px;
    margin-top:2px;
    width:496px;
    padding:5px;
}

aside {
    width:145px;
    float:right;
    position:absolute;
    top:0;
    right:2px;
}

nav a {
    text-decoration:none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
}

.hosting, #imagegenerator, #search {
    background-color:white;
    border:1px solid #808080;
    margin:2px;
    text-align:center;
    padding:3px;
}

.csslevel {
    color:#900c0a;
    font-weight:bold;
}

.csstut {
    color:black;
}

#home {
    color:black;
    font-weight:bold;
}

#homeimg {
    vertical-align:sub;
    margin-left:-3px;
    margin-right:-3px;
}

header button, footer button {
    background-color:white;
    border:1px solid black;
    width:100px;
    height:20px;
    font-size:0.98em;
}

hr {
    width:486px;
}

header h1 {
    font-size:1.7em;
}

h2 {
    font-size:1.1em;
    background-color:#808080;
    color:white;
    text-indent:5px;
}

#logocss {
    float:left;
    padding-right:10px;
}

article h3 {
    font-size:0.99em;
}

#first {
    font-weight:bold;
}

article a, aside a {
    color:#900c0a;
}

#mainhosting h2, #search h2 {
    margin-top:0px;
    margin-bottom:5px;
    font-size:1em;
}

input[type="text"] {
    width:90px;
}

#dynamic {
    border:1px solid #70a1c6;
}

#search, #mainhosting {
    padding-top:0;
    padding-left:0;
    padding-right:0;
}

#mainhosting {
    background-color:white;
    border:1px solid #808080;
    margin:2px;
    text-align:center;
    padding-bottom:3px;
}