html,
body,
div,
ul,
li,
a,
table,
thead,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
  color: black;
}
#wrapper {
	width:960px;
}

.tab-strip {
	position:relative;
	margin-top:15px;
	margin-left:15px;
	border:1px solid black;
	width:344px;
	height:240px;
	border-radius:5px;
}

.tab-strip > li {
	display:inline-block;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-radius:5px;
	padding:10px 15px;
	background: rgb(233,233,233); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(171,171,171,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(100%,rgba(171,171,171,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(171,171,171,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(171,171,171,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(171,171,171,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(171,171,171,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
}
.tab-strip li:hover {
	background:#eee;
}
.tab-strip > li:last-of-type{
	border-right:none;
}

.tab-strip .tab-btn {
	display:inline-block;
}

.tab-btn {
	text-decoration:none;
	color:black;
	font-size:1.4em;
}

.tab-content {
	position:absolute;
	display:none;
	left:0;
	padding:20px;
}
.tab-content ul {
	list-style-type:disc;
}
.tab-content ul li ul {
	padding-left:25px;
	list-style-type:lower-alpha;
}
li.current > a {
	font-weight:bold;
}

li.current {
	border-bottom:none;
	border-right:1px solid black;
	border-radius:0;
	background:none;
}
li.current > .tab-content {
	display:block;
}
table {
	border-collapse:collapse;
	text-align:center;
}
table thead th {
	border:1px solid black;
	padding:5px;
	width:100px;
	background: rgb(178,178,178); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(178,178,178,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,178,178,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(178,178,178,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

table tbody td {
	border:1px solid black;
	padding:5px;
	width:100px;
	background:#eee;
}