﻿body,
div,
ul,
li,
a,
span,
img {
	margin:0;
	padding:0;
}

body {
	font-family:'Courier New', Courier, 'Nimbus Mono L', monospace;
	font-size:16px;
}

#wrapper {
	width:960px;
}

.notification-list {
	list-style-type:none;
	width:430px;
	margin-top:20px;
	margin-left:20px;
	position:relative;
}

.notification-list > li {
	display:inline-block;
	border:1px solid black;
	padding:5px 15px;
	border-right:none;
	background: rgb(171,171,171); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(171,171,171,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(171,171,171,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(171,171,171,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(171,171,171,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(171,171,171,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(171,171,171,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.notification-list > li:first-of-type {
	border-top-left-radius:15px;
}
.notification-list > li:last-of-type {
	border-right:1px solid black;
	border-top-right-radius:15px;
}

img {
	width:15px;
}

a {
	text-decoration:none;
	color:#5e5e5e;
}
.notification-list li > div.content {
	display:none;
	position:absolute;
	left:0;
	width:425px;
	top:32px;
	border:1px solid black;
	border-top:none;
	background:#dddddd;
}

div.content > ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
div.content ul li {
	margin-bottom:10px;
	margin-left:15px;
	margin-top:5px;
}
div.content ul li:last-of-type {
	margin-bottom:5px;
}
div.content ul li:hover {
	text-decoration:underline;
}
.notification-list > li:hover {
	border-bottom:1px solid #dddddd;
	background: rgb(173,173,173); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(173,173,173,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,173,173,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(173,173,173,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.notification-list li:hover > div.content {
	display:block;
}