﻿body,
div,
ul,
li,
span {
	padding:0;
	margin:0;
}

body {
	font-size:16px;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
}

#wrapper {
	width:960px;
}

ul {
	list-style-type:none;
}
.msg-bar {
	position:relative;
	margin-left:50px;
	margin-top:200px;
	width:455px;
}
.msg-bar > li {
	border:1px solid black;
	display:inline-block;
	border-right:none;
	padding:2px 15px;
	background: rgb(170,255,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(170,255,239,1) 0%, rgba(19,255,210,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,255,239,1)), color-stop(100%,rgba(19,255,210,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(170,255,239,1) 0%,rgba(19,255,210,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(170,255,239,1) 0%,rgba(19,255,210,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(170,255,239,1) 0%,rgba(19,255,210,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(170,255,239,1) 0%,rgba(19,255,210,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaffef', endColorstr='#13ffd2',GradientType=0 ); /* IE6-9 */
}

.msg-bar > li a {
	text-decoration:none;
	color:#00a1f7;
}

.msg-bar > li:last-of-type {
	border-right:1px solid black;
}
.msg-bar > li:hover {
	background:#00ddb3;
	border-top:1px solid #aaffef;
}
.msg-bar li:hover > .msg-bar-content {
	display:block;
}

div.msg-bar-content {
	display:none;
	position:absolute;
	left:0;
	top:-154px;
	width:451px;
	border:1px solid black;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom:none;
	background:#aaffef;
}

.me-item > span, .other-item > span {
	margin-left:100px;
	border-bottom:1px solid black;
	display:block;
	text-align:right;
	color:#0094ff;
}
.me-item {
	margin:10px;
	color:#0094ff;
}
.me-item .user {
	background-image:url('imgs/me.png');
	background-repeat: no-repeat;
	background-position:5px;
	border:1px solid black;
	border-radius:15px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:20px;
	padding-right:15px;
	margin-left:0;
	display:inline;
	float:left;
}

.other-item {
	margin:10px;
	color:#0094ff;
}

.other-item .user {
	background-image:url('imgs/male.png');
	background-repeat:no-repeat;
	background-position:5px;
	border:1px solid black;
	border-radius:15px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:20px;
	padding-right:15px;
	margin-left:0;
	display:inline;
	float:left;
}

.msg-bar > li .msg-bar-content ul li:last-of-type span:not(.user) {
	border:none;
}