ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }
    ul li .thumbnails {
      width: 172px;
      height: 108px; }

nav {
  text-align: center; }

#image-holder {
  position: relative; }
  #image-holder .originals {
    position: absolute;
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-bottom: 10px; }
  #image-holder input[type="radio"] {
    display: none; }
    #image-holder input[type="radio"]:checked + .originals {
      opacity: 1;
      display: block;
      -webkit-transition: opacity 1.5s ease-in-out;
      -moz-transition: opacity 1.5s ease-in-out;
      -o-transition: opacity 1.5s ease-in-out;
      transition: opacity 1.5s ease-in-out; }

