﻿body,
div,
header,
nav,
ul,
li {
    padding:0;
    margin:0;
}

body {
    font-size:16px;
    font-family:Arial;
}

#wrapper {
    width:960px;
    background: #77d1ff;
    background: -moz-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #002d44), color-stop(100%, #77d1ff));
    background: -webkit-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    background: -o-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    background: -ms-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    background: linear-gradient(to bottom, #002d44 0%, #77d1ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002d44', endColorstr='#77d1ff', GradientType=0);
}

header {
    height:150px;
    padding-top:50px;
}

header nav {
    padding-left:50px;
}
header nav a {
    text-decoration:none;
    color:black;
    font-size:2em;
}
header nav ul li {
    padding:5px 10px;
    display:inline-block;
}
header nav ul li ul {
    display:none;
    position:absolute;
    left:50px;
}
header nav ul li ul li {
    position:relative;
}

header nav ul li ul li ul {
}

header nav ul li:hover {
  background-color: rgba(0, 79, 119, 0.7);
  border-radius: 15px;
}
header nav ul li ul li:hover > ul {
    display:block;
}
header nav ul li ul li ul {
    width:350px;
    left:0;
    background: #77d1ff;
    background: -moz-linear-gradient(top, #ffffff 0%, #77d1ff 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(70%, #77d1ff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #77d1ff 70%);
    background: -o-linear-gradient(top, #ffffff 0%, #77d1ff 70%);
    background: -ms-linear-gradient(top, #ffffff 0%, #77d1ff 70%);
    background: linear-gradient(to bottom, #ffffff 0%, #77d1ff 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#77d1ff', GradientType=0);
    border-radius:15px;
    padding:15px;
    text-align:center;
}

header nav ul li ul li ul li {
    border-bottom:1px solid black;
}

header nav ul li ul li ul li:last-of-type {
    border-bottom:none;
}

header nav ul li.selected {
    background-color: rgba(0, 0, 0, 0.30000000000000004);
    border-radius: 15px;
}

header nav ul li.selected > ul {
    display:block;
}