html,
body,
div,
h1,
label,
input,
ul,
li,
span,
br,
button {
	margin:0;
	padding:0;
}
ul {
	list-style-type:none;
	display:none;
	position:absolute;
	left:180px;
	top:10px;
	border:1px solid black;
	width:150px;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
	background: rgb(229,217,110); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,217,110,1) 0%, rgba(203,247,190,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,217,110,1)), color-stop(100%,rgba(203,247,190,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,217,110,1) 0%,rgba(203,247,190,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,217,110,1) 0%,rgba(203,247,190,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,217,110,1) 0%,rgba(203,247,190,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,217,110,1) 0%,rgba(203,247,190,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d96e', endColorstr='#cbf7be',GradientType=0 ); /* IE6-9 */
}
ul li {
	border-bottom:1px solid black;
	padding-top:5px;
	padding-bottom:5px;
}
ul li:last-of-type {
	border-bottom:none;
}
ul li:hover {
	background: rgba(0,0,0,0.1);
	cursor:pointer;
}
body #root {
  width: 350px;
  margin-top:20px;
  margin-left:20px;
  border-left:3px solid black;
  border-top:3px solid black;
  border-top-left-radius:15px;
  padding:20px;
  font-family: Corbel;
}
.add-employee > *{
	padding:5px;
}
h1 {
	font-size:1.6em;
	margin-left:50px;
	margin-bottom:15px;
}
.widget {
	border:1px solid black;
	border-radius:5px;
	padding:15px;
	width:300px;
	height:170px;
	text-align:center;
	background: rgb(203,247,190); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(203,247,190,1) 0%, rgba(229,217,110,1) 69%, rgba(229,217,110,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,247,190,1)), color-stop(69%,rgba(229,217,110,1)), color-stop(100%,rgba(229,217,110,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 69%,rgba(229,217,110,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 69%,rgba(229,217,110,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 69%,rgba(229,217,110,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 69%,rgba(229,217,110,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbf7be', endColorstr='#e5d96e',GradientType=0 ); /* IE6-9 */
}
label {
	font-size:14px;
	font-weight:bold;
}
input {
	width:150px;
	margin-bottom:5px;
	margin-left:5px;
	background:rgba(0,0,0,0);
	text-indent:15px;
	font-style:italic;
}
.dropdown {
	position:relative;
	display:inline-block;
	width:165px;
	text-align:left;
}
.expanded {
	display:block;
}
.chosen {
	padding-left:20px;
	background:url('images/left-arrow.png') no-repeat;
	z-index:0;
}

.chosen.expanded {
	background:url('images/down-arrow.png') no-repeat;
}

input, button {
	border-top:3px solid #86a37d;
	border-left:3px solid #86a37d;
	border-right:3px solid #cbf7be;
	border-bottom:3px solid #cbf7be;
	border-radius:5px;
}

button {
	width:300px;
	height:35px;
	background:#e5d96e;
	font-size:16px;
	margin-top:5px;
}
button:hover {
	background: rgb(203,247,190); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(203,247,190,1) 0%, rgba(229,217,110,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,247,190,1)), color-stop(100%,rgba(229,217,110,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(203,247,190,1) 0%,rgba(229,217,110,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbf7be', endColorstr='#e5d96e',GradientType=0 ); /* IE6-9 */
}
input::-webkit-input-placeholder {
  color: #000;
}
input:-moz-placeholder {
  color: #000;
}
input::-moz-placeholder {
  color: #000;
}
input:-ms-input-placeholder {
  color: #000;
}