﻿h1 {
    font-size: 15px;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial;
}

.main {
    border-radius: 10px;
    background-color: #eeeeee;
    width: 404px;
    padding-bottom: 10px;
    border: 1px solid #CBC9C9;
}

.textbox {
    background-color: white;
    width: 380px;
    border: 1px solid #a6a6a6;
    font-size: 14px;
    padding-bottom: 25px;
    margin: 25px 10px 15px 10px; 
    
}

.textbox p {
    padding-right: 15px;
}

img {
    margin: 15px 15px 0 15px;
    vertical-align: middle;
    float: left;
    border:1px solid #a6a6a6;
}

.buttons {
    margin-right: 15px;
    position: relative;
    margin-bottom: 25px;
}
.listen, .add {
    font-family: Arial;
    width: 45px;
    color: white;
    font-size: 12px;
    border:none;
}

.listen {
    background-image:url('listen.png');
    position: absolute;
    top: 5px;
    right: 60px;
    width:73px;
    height:25px;
}

.add {
    background-image:url('add.png');
    position: absolute;
    top: 5px;
    right: -5px;
    width:60px;
    height:25px;
}