﻿body,
div,
img,
ul,
li,
a,
span {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-size:16px;
}
#wrapper {
	width:960px;
}
#wrapper > div {
	width:700px;
	height:430px;
	margin-top:20px;
	margin-left:20px;
	background:#cccccc;
	padding:10px;
	border-radius:5px;
	position:relative;
}
.holder {
	float:left;
}
.holder > img {
	width:560px;
	position:absolute;
	border-radius:5px;
}
ul {
	list-style-type:none;
}
.playlist {
	padding-bottom:10px;
	position:absolute;
	left:570px;
	display:block;
	margin:0 15px;
}

.playlist li {
	text-align:center;
	border-bottom:1px solid black;
	padding:5px 0;
}

.playlist li a {
	text-decoration:none;
	color:black;
	font-weight:bold;
}

.playlist li a:hover {
	text-decoration:underline;
}

.playlist li a > img {
	border-radius:10px;
}