﻿body,
div,
ul,
li,
a,
table,
tr,
td,
th,
tbody,
thead {
	margin:0;
	padding:0;
}
body {
	font-family:Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-size:18px;
}
#wrapper {
	width:960px;
}

.accordion-content {
	display:none;
}

ul {
	list-style-type:none;
	margin-top:15px;
	margin-left:15px;
}

a{
	text-decoration:none;
	color:#444444;
	font-size:1.2em;
	font-weight:bold;
}
.accordion-btn {
	border:1px solid black;
	border-bottom:2px solid black;
	padding-left:160px;
	padding-right:160px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(170,170,170,1) 80%, rgba(170,170,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(80%,rgba(170,170,170,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 80%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 80%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 80%,rgba(170,170,170,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 80%,rgba(170,170,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
}

.accordion-content {
	width:364px;
	border:1px solid black;
	padding:10px 15px;
	color:#444444;
	background:#aaaaaa;
}

.accordion-content h1 {
	text-align:center;
	font-size:1.6em;
	color:#5e5e5e;
}

.accordion-content p {
	text-align:justify;
	color:#444444;
}

table {
	border-collapse:collapse;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	background:#aaaaaa;
}

tr, td, th {
	border:1px solid black;
}

td, th {
	padding:3px;
}

td {
	color:#f9ffff;
	text-align:center;
}

th {
	color:#444444;
	padding-left:5px;
}
th:first-of-type {
	border-top-left-radius:15px;
}

thead {
	background: rgb(233,233,233); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(137,137,137,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(100%,rgba(137,137,137,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(137,137,137,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(137,137,137,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(137,137,137,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(137,137,137,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#898989',GradientType=0 ); /* IE6-9 */
}

tbody tr:nth-of-type(odd) {
	background: rgb(201,201,201); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(137,137,137,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,201,201,1)), color-stop(100%,rgba(137,137,137,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(137,137,137,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(137,137,137,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(137,137,137,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(137,137,137,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#898989',GradientType=0 ); /* IE6-9 */
}

tbody tr:nth-of-type(even) {
	background: rgb(137,137,137); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(137,137,137,1) 0%, rgba(201,201,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,137,137,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(137,137,137,1) 0%,rgba(201,201,201,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(137,137,137,1) 0%,rgba(201,201,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
}

li.current > a{
	border-bottom:1px solid #aaaaaa;
}
li.current > div.accordion-content{
	display:block;
	border-top:1px solid #aaaaaa;
}