﻿body {
    font-family:Arial;
}

.table {
    display:table;
}

.table-header-group {
    display:table-header-group;
    width:680px;
    text-align:center;
}

.table-row {
    display:table-row;
}

.table-cell {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.table-row-group {
    display:table-row-group;
}

#main {
    width:680px;
    border:2px solid black;
    border-radius:5px;
    padding:5px;
}

.colspan>div {
    width:1px;
}
#nav {
    width:679px;
    text-align:center;
    margin-bottom:10px;
    border-bottom:2px solid black;
    padding-bottom:5px;
}

img {
    width:110px;
}

.sliders {
    width:199px;
}

.slidercell {
    width:200px;
}

legend {
    text-align:center;
}

a {
    color:#00abef;
    font-size:1.3em;
}

.laptops {
    border:2px solid black;
    padding:5px;
    align-content:center;
}

fieldset {
    border:2px solid black;
}

.slider-table {
    margin-top:0px;
    width:200px;
    padding-left:0px;
}

input[type="range"] {
    width:160px;
}