body,
div,
ul,
li,
button,
input,
p,
span,
h1 {
	margin:0;
	padding:0;
}

body {
	font-family:Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
	font-size:16px;
	color:#555555;
}

#wrapper {
	width:960px;
}

.date {
	font-family:Consolas;
	font-weight:normal;
	font-size:0.8em;
}

#wrapper > div {
	border:1px solid black;
	width:380px;
	height:463px;
	border-radius:15px;
	margin-top:15px;
	margin-left:15px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(170,170,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(170,170,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
}

ul {
	list-style-type:none;
}

ul li > span{
	font-weight:bold;
}

.me-item {
	border:1px solid black;
	border-radius:15px;
	width:200px;
	height:55px;
	margin:5px;
	margin-left:130px;
	padding:5px 15px;
	background: rgb(43,237,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(43,237,255,1) 0%, rgba(192,250,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,237,255,1)), color-stop(100%,rgba(192,250,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(43,237,255,1) 0%,rgba(192,250,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(43,237,255,1) 0%,rgba(192,250,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(43,237,255,1) 0%,rgba(192,250,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(43,237,255,1) 0%,rgba(192,250,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bedff', endColorstr='#c0faff',GradientType=0 ); /* IE6-9 */
}

.toshko-item {
	border:1px solid black;
	border-radius:15px;
	width:200px;
	height:55px;
	margin:5px;
	margin-left:20px;
	padding:5px 15px;
	background: rgb(221,255,208); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(221,255,208,1) 0%, rgba(111,255,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,255,208,1)), color-stop(100%,rgba(111,255,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(221,255,208,1) 0%,rgba(111,255,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(221,255,208,1) 0%,rgba(111,255,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(221,255,208,1) 0%,rgba(111,255,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(221,255,208,1) 0%,rgba(111,255,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddffd0', endColorstr='#6fff3b',GradientType=0 ); /* IE6-9 */
}

ul .toshko-item > span {
	padding-left:150px;
}

.toshko-item span.date {
	padding-left:0;
}

.me-item span.date {
	padding-left:80px;
}

h1 {
	font-size:1.8em;
	padding:15px 20px;
	margin-bottom:-10px;
}

input {
	margin-left:15px;
	width:270px;
	height:35px;
	border-radius:5px;
	background:#eee;
	border:none;
}

button {
	width:70px;
	height:30px;
	font-size:1.2em;
	background: rgb(233,233,233); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(175,175,175,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(100%,rgba(175,175,175,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(175,175,175,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(175,175,175,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(175,175,175,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(175,175,175,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */
	border:none;
	border-radius:5px;
}

button:hover {
	background:#eee;
}