html,
body,
div,
ul,
li,
a,
img {
	margin:0;
	padding:0;
}

body {
	width:960px;
	font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
	font-size:16px;
}

ul {
	list-style-type:none;
}
.menu {
	margin-top:20px;
	margin-left:20px;
	width:150px;
	text-align:center;
}
.menu > li {
	margin:10px;
	background:#b6ff00;
	width:180px;
	padding:10px 0;
	border-radius:15px;
	position:relative;
}
.menu > li a {
	text-decoration:none;
	color:black;
}
.menu > li:hover > a {
	text-decoration:underline;
}
.content {
	display:none;
	position:absolute;
	left:180px;
	top:0;
}
.menu li:hover > .content {
	display:block;
}

.content .sub-menu li {
	width:500px;
	background:#008000;
	border-radius:10px;
	margin-bottom:10px;
	text-align:left;
	padding:20px 0;
}
.content .sub-menu li a {
	color:white;
	margin-left:30px;
}
img {
	display:none;
	width:450px;
	border-radius:10px;
	margin-left:25px;
	margin-top:10px;
}
.content .sub-menu li:hover a {
	text-decoration:underline;
}
.content .sub-menu li:hover > img {
	display:block;
}