﻿body,
ul,
li,
img,
div {
    padding:0;
    margin:0;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    padding:15px;
    width:110px;
    list-style-type: none;
}

    ul li {
        position:relative;
        border-top:1px solid black;
        padding:5px;
    }
        ul li span {
            text-align: center;
        }
        ul li:last-child {
            border-bottom:1px solid black;
        }
.current{
    font-weight: bold;
}

.invisible {
    display: none;
}

img {
    width: 25px;
    vertical-align: central;
}

div.popup-content {
    position:absolute;
    left:120px;
    top:0px;
}

.popup-content fieldset legend {
    font-weight: bold;
    font-size:1.2em;
}

.popup-content > a {
    border:1px solid black;
    border-radius:5px;
    padding-right:5px;
    padding-left:5px;
    position:absolute;
    left:170px;
    top:15px;
}

    .popup-content > a:hover {
        text-decoration: underline;
    }

fieldset {
    border:1px solid black;
    padding:15px;
}

    .popup-content div fieldset button {
        color:#333333;
        width:80px;
        height:25px;
        border-radius:15px;
        border:none;
        background: rgb(198,198,198); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(198,198,198,1) 0%, rgba(104,104,104,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,198,198,1)), color-stop(100%,rgba(104,104,104,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(104,104,104,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(104,104,104,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(198,198,198,1) 0%,rgba(104,104,104,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(198,198,198,1) 0%,rgba(104,104,104,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
    }

        .popup-content div fieldset button:hover {
            background: #cccccc;
        }
