﻿body,
div,
ul,
li,
img,
a {
	margin:0;
	padding:0;
}

body {
	font-family:Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-size:16px;
}

#wrapper {
	width:960px;
}

ul {
	list-style-type:none;
}

.select-list {
	margin-top:25px;
	margin-left:25px;
}
.all-items {
	float:left;
}
.all-items, .selected-items {
	width:150px;
	height:200px;
	overflow-y:scroll;
	border-radius:5px;
	background: rgb(129,105,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(129,105,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(129,105,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(129,105,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(129,105,255,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(129,105,255,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(129,105,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8169ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.all-items > li, .selected-items > li {
	border-bottom:1px solid black;
	padding:5px 15px;
}

.all-items > li:last-of-type, .selected-items > li:last-of-type {
	border-bottom:none;
}

li:first-letter, li:first-letter {
	text-decoration:underline;
}

.selected {
	background:#6c4eff;
}

img {
	float:left;
	margin-top:90px;
	padding-left:3px;
	padding-right:3px;
}