﻿#mainList {
    position:relative;
    list-style:none;
}

ul li ul {
    list-style:none;
    color:#979696;
    display:none;
}

ul li span:hover {
    text-decoration:underline;
}

ul li:hover ul {
    display:block;
}