﻿body {
    font-size:16px;
    font-family:Arial;
}

a {
    color:black;
    text-decoration:none;
}

a.current {
    font-weight:bold;
}

form.invisible {
    display: none;
}

legend {
    font-size:2em;
    font-weight:bold;
    font-style:italic;
}

fieldset {
    padding-right:50px;
    text-align:right;
    border: 3px solid black;
    border-radius:3px;
    
}
form {
    background: #555555;
    background: -moz-linear-gradient(top, #ffffff 10%, #555555 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffffff), color-stop(100%, #555555));
    background: -webkit-linear-gradient(top, #ffffff 10%, #555555 100%);
    background: -o-linear-gradient(top, #ffffff 10%, #555555 100%);
    background: -ms-linear-gradient(top, #ffffff 10%, #555555 100%);
    background: linear-gradient(to bottom, #ffffff 10%, #555555 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#555555', GradientType=0);
    width: 450px;
}

label {
    font-weight: bold;
    font-size:1.1em;
}

input {
    border-radius: 15px;
    border:1px solid black;
    width:200px;
    height:30px;
    margin-top:5px;
    text-indent:15px;
    color:white;
    background: rgb(8,8,8); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(8,8,8,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,8,8,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(8,8,8,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(8,8,8,1) 0%,rgba(196,196,196,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(8,8,8,1) 0%,rgba(196,196,196,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(8,8,8,1) 0%,rgba(196,196,196,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
}

button {
    border-radius: 15px;
    border: 2px solid black;
    height: 35px;
    width:100px;
    margin-top:5px;
    font-weight:bold;
    font-size:1.1em;
    background: rgb(11,11,11); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(11,11,11,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,11,11,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(11,11,11,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(11,11,11,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(11,11,11,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(11,11,11,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0b0b', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}