.animation(@speed) {
	-webkit-transition: opacity @speed ease-in-out;
	-moz-transition: opacity @speed ease-in-out;
	-o-transition: opacity @speed ease-in-out;
	transition: opacity @speed ease-in-out;
}

ul {
	list-style-type:none;
	li {
		display:inline-block;

		.thumbnails {
			width:172px;
			height:108px;
		}
	}
}

nav {
	text-align:center;
}

#image-holder {
	position:relative;

	.originals {
		position:absolute;
		opacity:0;
		display:block;
		margin-left:auto;
		margin-right:auto;
		right:0;
		left:0;
		margin-bottom:10px;
	}

	input[type="radio"] {
		display:none;
		&:checked + .originals {
			opacity:1;
			display:block;
			.animation(1.5s);
		}
	}
}