html,
body,
div,
ul,
li,
h3,
p,
img {
	margin:0;
	padding:0;
}
body {
	font-family:Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-size:16px;
}
#wrapper {
	width:960px;
}
ul {
	list-style-type:none;
}

li {
	float:left;
	margin-left:5px;
	text-align:center;
}
.menu {
	margin-top:20px;
	margin-left:20px;
}
.menu li {
	width:170px;
	height:170px;
	border:20px solid #808080;
	background: rgb(115,115,115); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(115,115,115,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(115,115,115,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(115,115,115,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(115,115,115,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(115,115,115,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(115,115,115,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737373', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.click-here {
	display:none;
	color:white;
	text-transform:uppercase;
}
.subtitle {
	margin:10px;
	color:black;
}

.menu li:hover {
	background:#808080;
	border:20px solid #454545;
}

.menu li:hover > .subtitle {
	display:none;
}

.menu li:hover > .click-here {
	display:block;
}
h3 {
	margin-top:5px;
	color:white;
}
.menu li:hover > h3 {
	text-decoration:underline;
}
img {
	border-radius:15px;
	width:100px;
	margin-top:10px;
}
.menu li:hover .image-container img {
	width:120px;
}