html,
body,
div,
header,
ul,
li,
a,
nav,
h1,
p,
article {
	margin:0;
	padding:0;
}
html, body {
	font-family: Tahoma, sans-serif;
	font-size:14px;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
ul {
	list-style-type:none;
}
header #archive ul {
	float:right;
}
header #archive ul li {
	display:inline-block;
	margin-left:10px;
}
header #archive ul li a {
	text-decoration:none;
	color:black;
	font-size:10px;
}
#header {
	background:url('images/topnav_divider.png');
	height:64px;
}
#header #nav ul {
	float:left;
	width:620px;
	margin-left:20px;
	margin-top:20px;
}
#header #nav ul li {
	display:inline-block;
	margin-left:20px;
}
#header #nav ul li::first-letter {
	text-transform:uppercase;
}
#header #nav ul li a {
	text-decoration:none;
	color:white;
	font-size:18px;
}
#header h1 {
	color:white;
	padding:15px;
	font-size:28px;
}
#content h1 {
	font-size:24px;
	margin:20px 0;
	color:#333333;
}
#content article p {
	text-align:justify;
	color:#333333;
}
#content article p {
	margin-bottom:1em;
}
.clear {
	clear: both;
}
