body,
div,
form,
fieldset,
legend,
label,
input,
button {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;
	font-size:16px;
}

#wrapper {
	width:960px;
}

form {
	border:1px solid black;
	border-radius:15px;
	padding:15px;
	width:400px;
	margin-left:20px;
	margin-top:20px;
	text-align:center;
	background: rgb(104,209,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(104,209,255,1) 0%, rgba(140,255,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,209,255,1)), color-stop(100%,rgba(140,255,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(104,209,255,1) 0%,rgba(140,255,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(104,209,255,1) 0%,rgba(140,255,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(104,209,255,1) 0%,rgba(140,255,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(104,209,255,1) 0%,rgba(140,255,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68d1ff', endColorstr='#8cfffb',GradientType=0 ); /* IE6-9 */
}

fieldset {
	text-align:right;
	padding-right:15px;
	padding-bottom:10px;
	padding-top:10px;
	border:3px solid black;
	border-radius:5px;
	margin-bottom:5px;
}

fieldset legend {
	font-size:1.3em;
	font-style:italic;
	padding-left:15px;
	padding-right:15px;
}

button {
	margin-left:125px;
}
button, input[type="reset"] {
	border-radius:5px;
	border:none;
	border-bottom:1px solid black;
	height:35px;
	padding:5px 15px;
	margin-top:10px;
	font-size:1.2em;
	background: rgb(57,196,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(57,196,255,1) 0%, rgba(136,252,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,196,255,1)), color-stop(100%,rgba(136,252,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(57,196,255,1) 0%,rgba(136,252,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(57,196,255,1) 0%,rgba(136,252,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(57,196,255,1) 0%,rgba(136,252,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(57,196,255,1) 0%,rgba(136,252,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39c4ff', endColorstr='#88fcfb',GradientType=0 ); /* IE6-9 */
	color:#333333;
}

button:hover, input[type="reset"]:hover {
	background:#9be1ff;
}

input {
	margin:2px;
}

input[type="text"], input[type="password"] {
	width:170px;
	height:25px;
	border-radius:5px;
	border:1px solid #008fce;
	text-indent:15px;
	background: rgb(106,212,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(106,212,255,1) 0%, rgba(139,254,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,212,255,1)), color-stop(100%,rgba(139,254,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ad4ff', endColorstr='#8bfefb',GradientType=0 ); /* IE6-9 */
}

input[type="number"] {
	width:40px;
	height:25px;
	border-radius:5px;
	border:1px solid #008fce;
	text-indent:5px;
	background: rgb(106,212,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(106,212,255,1) 0%, rgba(139,254,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,212,255,1)), color-stop(100%,rgba(139,254,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(106,212,255,1) 0%,rgba(139,254,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ad4ff', endColorstr='#8bfefb',GradientType=0 ); /* IE6-9 */
}