﻿body,
div,
h1,
img,
p {
	margin:0;
	padding:0;
}

body {
	font-family:Constantina, Georgia, 'Nimbus Roman No9 L', serif;
	font-size:16px;
}

#wrapper {
	width:960px;
}

#wrapper > div {
	border:1px solid black;
	border-radius:15px;
	margin-top:20px;
	margin-left:20px;
	padding:20px 40px;
	position:relative;
	background: rgb(222,40,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(222,40,255,1) 0%, rgba(249,219,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,40,255,1)), color-stop(100%,rgba(249,219,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(222,40,255,1) 0%,rgba(249,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(222,40,255,1) 0%,rgba(249,219,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(222,40,255,1) 0%,rgba(249,219,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(222,40,255,1) 0%,rgba(249,219,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de28ff', endColorstr='#f9dbff',GradientType=0 ); /* IE6-9 */
}

h1 {
	font-size:1.8em;
}
p.postedby {
	border-top:1px solid black;
	border-bottom:1px solid black;
	display:inline-block;
	padding:5px 15px;
	margin-left:15px;
	margin-top:5px;
}
p.info {
	text-align:justify;
	margin-top:30px;
}

img.left-arrow {
	position:absolute;
	left:10px;
	top:90px;
}

img.right-arrow {
	position:absolute;
	right:10px;
	top:90px;
}