html,
body,
div,
header,
h1,
h2,
nav,
ul,
li,
article,
p,
aside,
form
input,
hr {
	margin:0;
	padding:0;
}
html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	background:url('images/header-bg.png');
	border-bottom:5px solid #39c518;
}

#title {
	float:left;
	width:730px;
	margin:20px;
}

#title h1 {
	font-size:34px;
	font-weight:bold;
	color:#eeffee;
}

#title h2 {
	font-size:16px;
	font-weight:normal;
	color:#b8c0b8;
}

nav {
	padding-top:40px;
}
nav ul li {
	font-size:18px;
	font-weight:bold;
	color:#cc6600;
	margin-left:15px;
}
ul {
	list-style-type:none;
}

ul li {
	display:inline-block;
}
#content {
	float:left;
	width:770px;
}
#content h1 {
	margin:20px 0;
	font-size:30px;
	color:#59770e;
}

#content p {
	color:#555555;
}

aside {
	margin-top:20px;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color:#59770e;
}

hr {
	margin:10px;
}

input {
	width:160px;
	height:22px;
}

.clear {
	clear: both;
}
