﻿body,
div,
form,
fieldset,
legend,
input,
label {
	margin:0;
	padding:0;
}

body {
	font-family:Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
	font-size:18px;
}

#wrapper {
	width:960px;
}

form {
	border:1px solid black;
	border-radius:15px;
	width:370px;
	margin-top:20px;
	margin-left:20px;
	padding-top:15px;
	font-size:0.9em;
	text-align:right;
	padding:15px;
	color:white;
	background: rgb(235,255,91); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(235,255,91,1) 0%, rgba(68,68,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,255,91,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,255,91,1) 0%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,255,91,1) 0%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,255,91,1) 0%,rgba(68,68,68,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,255,91,1) 0%,rgba(68,68,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebff5b', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

fieldset {
	border:3px solid #555555;
	border-radius:5px;
	text-align:right;
	padding:15px;
}
form > fieldset:last-of-type {
	margin-bottom:10px;
}
legend {
	font-weight:bold;
	font-style:italic;
	font-size:1.1em;
	padding-left:15px;
	padding-right:15px;
	color:white;
}

input[type="text"], input[type="password"]{
	width:180px;
	height:25px;
	border:2px solid #444444;
	border-radius:5px;
	margin:2px;
	text-indent:15px;
	background: rgb(226,245,90); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,245,90,1) 0%, rgba(71,71,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,245,90,1)), color-stop(100%,rgba(71,71,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f55a', endColorstr='#474744',GradientType=0 ); /* IE6-9 */
	color:white;
}
input[type="number"] {
	border:2px solid #444444;
	border-radius:5px;
	width:40px;
	margin:2px;
	height:25px;
	text-indent:5px;
	background: rgb(226,245,90); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,245,90,1) 0%, rgba(71,71,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,245,90,1)), color-stop(100%,rgba(71,71,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,245,90,1) 0%,rgba(71,71,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f55a', endColorstr='#474744',GradientType=0 ); /* IE6-9 */
	color:white;
}
label {
	font-size:0.9em;
	color:white;
}

button, input[type="reset"] {
	margin-top:10px;
	padding:5px 15px;
	font-size:1.1em;
	border-radius:5px;
	border:none;
	border-bottom:1px solid black;
	color:#333335;
	background: rgb(222,247,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(222,247,41,1) 0%, rgba(70,70,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,247,41,1)), color-stop(100%,rgba(70,70,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(222,247,41,1) 0%,rgba(70,70,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(222,247,41,1) 0%,rgba(70,70,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(222,247,41,1) 0%,rgba(70,70,68,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(222,247,41,1) 0%,rgba(70,70,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def729', endColorstr='#464644',GradientType=0 ); /* IE6-9 */
}

input[type="radio"] {
	display:none;
}

input[type="radio"]:checked + label {
	font-weight:bold;
	font-size:1.1em;
}

button:hover, input[type="reset"]:hover {
	background:#f1ff8e;
}