body,
div,
ul,
li,
aside {
	margin:0;
	padding:0;
}

body {
	width:960px;
	font-size:16px;
	font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

aside {
	width:200px;
	margin:10px;
	border-radius:15px;
	background: rgb(209,155,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(209,155,255,1) 0%, rgba(137,119,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,155,255,1)), color-stop(100%,rgba(137,119,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(209,155,255,1) 0%,rgba(137,119,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(209,155,255,1) 0%,rgba(137,119,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(209,155,255,1) 0%,rgba(137,119,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(209,155,255,1) 0%,rgba(137,119,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d19bff', endColorstr='#8977ff',GradientType=0 ); /* IE6-9 */
}

aside ul {
	list-style-type:none;
	padding:10px 15px;
	text-align:center;
}

aside ul li {
	border-bottom:1px solid #9d00ff;
	padding:5px;
	position:relative;
}
aside ul li:last-child {
	border-bottom:none;
}
aside ul li:hover {
	border:1px solid #9d00ff;
	border-radius:5px;
}

aside ul li:hover > ul {
	display:block;
}

aside ul li a {
	text-decoration:none;
	color:black;
	font-size:1.3em;
}

aside ul li ul {
	background-image: url(imgs/arrow.png);
	background-repeat: no-repeat;
	background-position: 5px 20px;
	display:none;
	padding-left:30px;
	border-radius:15px;
	position:absolute;
	width:180px;
	left:170px;
	top:0;
	background-color: #b5aaff;
}

aside ul li ul li {
	font-size:0.7em;
	font-weight:bold;
}