html,
div,
h1,
img,
button,
ul,
li,
strong {
	margin:0;
	padding:0;
}
body {
  font-size: 14px;
  font-family: 'Times New Roman';
}
#root {
  width: 702px;
  margin-top:20px;
  margin-left:20px;
}
ul {
	list-style-type:none;
}
#previewer div {
	display:inline-block;
}
#previewer #large {
	float:left;
	border:2px solid #999999;
	padding:20px;
}
#previewer #large h1 {
	text-align:center;
	margin-bottom:20px;
}
#previewer #large img {
	border:2px solid #999999;
	border-radius:5px;
}
#previewer #list {
	text-align:center;
	width:200px;
	height:399px;
	border:2px solid #999999;
}
#previewer #list .title {
	font-size:20px;
	display:block;
	margin:5px 0;
}
#previewer #list button {
	width:98px;
	height:50px;
	border:2px solid #999999;
	border-radius:5px;
	margin-bottom:5px;
}
#previewer #list button:hover {
	background:#e6e6e6;
}
#previewer #list ul {
	height:307px;
	overflow-y:scroll;
}
#previewer #list ul li {
	border-bottom:2px solid #999999;
	margin:0 5px;
}
#previewer #list ul li:last-of-type {
	border-bottom:none;
}
#previewer #list ul li strong {
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
#previewer #list ul li img {
	width:90px;
	border-radius:5px;
	margin-bottom:5px;
}
#previewer #list ul li.current {
	background:#cccccc;
	border-radius:5px;
}
#previewer #list ul li.current > img {
	width:70px;
}
#previewer #list ul li:hover > strong {
	text-decoration:underline;
}